Repository vorillaz/vostok: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{js,ts,tsx,json,md,mdx}": [
    "prettier --write"
  ],
  "*.{js,ts,tsx}": [
    "eslint"
  ]
}

chore(release): 1.5.9
  CHANGELOG.md
  package.json
Due: prettier --write

fix: config and changelog
  .npmignore
  .prettierrc
  README.md
Due: prettier --write

fix: remove circleci
  .circleci/config.yml
Due: none

fix: dependencies
  package-lock.json
  package.json
Due: prettier --write

feat: add better type support, add express proxy support and better styling
  src/child.ts
  src/commands/dev.ts
  src/constants.js
  src/constants.ts
  src/handleError.ts
  src/run.ts
  src/server.js
  src/utils.js
  src/utils.ts
  src/vostok.ts
Due: prettier --write, eslint

feat: expose types
  vostok.d.ts
Due: prettier --write, eslint

feat: add TS support
  tsconfig.json
Due: prettier --write

fix: remove old bin files
  bin/dev
  bin/vostok
Due: none

fix: examples
  examples/fastify-server/.env
  examples/fastify/api/index.js
  examples/fastify/auth/index.js
  examples/fastify/home/index.js
  examples/fastify/package.json
  examples/fastify/test-prefix/index.js
  examples/fastify/vostok.config.js
  examples/nextjs/docs/next.config.js
  examples/nextjs/docs/package.json
  examples/nextjs/docs/pages/api/health.js
  examples/nextjs/docs/pages/index.js
  examples/nextjs/home/package.json
  examples/nextjs/home/pages/api/health.js
  examples/nextjs/home/pages/test.js
  examples/nextjs/package.json
  examples/simple-server/package.json
Due: prettier --write, eslint

fix: add esbuild step
  esbuild/index.js
  esbuild/plugins/notify.js
  esbuild/plugins/utils.js
Due: prettier --write, eslint

fix: add github workflow
  .github/workflows/release.yml
Due: none

fix: tests
  test/constants.js
  test/constants.spec.ts
  test/sanity.js
  test/sanity.spec.ts
  test/snapshots/constants.js.md
  test/snapshots/constants.js.snap
  test/snapshots/constants.spec.ts.md
  test/snapshots/constants.spec.ts.snap
  test/snapshots/utils.js.md
  test/snapshots/utils.js.snap
  test/snapshots/utils.spec.ts.md
  test/snapshots/utils.spec.ts.snap
  test/utils.spec.ts
Due: prettier --write, eslint

feat: add should update script
  examples/fastify/api/index.js
  package-lock.json
  package.json
  src/commands/dev.ts
  src/utils.ts
  tsconfig.json
Due: prettier --write, eslint

fix: github action flow
  .github/workflows/release.yml
Due: none

fix: setup github actions and order with standard-version
  .github/workflows/release.yml
Due: none

fix: stop messing up with the flow
  .github/workflows/release.yml
Due: none

fix: husky config
  .husky/commit-msg
Due: none

chore(release): 1.6.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: update docs
  README.md
Due: prettier --write

feat: update the examples
  examples/fastify/vostok.config.js
  examples/nextjs/docs/next.config.js
  examples/nextjs/vostok.config.js
Due: prettier --write, eslint

feat: add better typing and routing options
  src/child.ts
  src/commands/dev.ts
  src/utils.ts
  vostok.d.ts
Due: prettier --write, eslint

fix: upgrade tests
  test/utils.spec.ts
Due: prettier --write, eslint

chore(release): 1.7.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: status and types of the npm package
  .npmignore
  package.json
Due: prettier --write

chore(release): 1.8.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: status and types of the npm package
  package.json
Due: prettier --write

chore(release): 1.9.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: update examples
  examples/express/api/index.js
  examples/express/api/package.json
  examples/express/app/index.js
  examples/express/app/package.json
  examples/express/package.json
  examples/express/vostok.config.js
  examples/fastify/README.md
  examples/fastify/api/index.js
  examples/fastify/api/package.json
  examples/fastify/home/package.json
  examples/fastify/test-prefix/index.js
  examples/fastify/test-prefix/package.json
  examples/fastify/vostok.config.js
  examples/microbundle/vostok.config.js
  examples/nextjs/docs/pages/index.js
  examples/nextjs/home/pages/index.js
  examples/nextjs/package.json
  examples/nextjs/subdomain/package.json
  examples/nextjs/subdomain/pages/api/health.js
  examples/nextjs/subdomain/pages/index.js
  examples/nextjs/subdomain/pages/test.js
  examples/nextjs/vostok.config.js
Due: prettier --write, eslint

feat: add subdomain and destination routing along with better closing
  src/child.ts
  src/commands/dev.ts
  vostok.d.ts
Due: prettier --write, eslint

chore(release): 1.10.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: better messages
  src/commands/dev.ts
Due: prettier --write, eslint

chore(release): 1.11.0
  CHANGELOG.md
  package.json
Due: prettier --write
